<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Our Products</h1>
  
  <!-- Products Grid -->
  <section id="product-list">
    <ul>
      <% products.forEach(product => { %>
        <li>
          <div class="product-card">
            <h3><%= product.name %></h3>
            <p class="price">₱<%= product.price %></p>
          </div>
        </li>
      <% }) %>
    </ul>
  </section>
  
  <a href="/" class="btn">Go back to Home</a>
</body>
</html>
